<div class="Contact">
<h3>{NAME}</h3>
<div class="box table">
<table>
<tbody><tr><td>Email</td><td>{EMAIL}</td></tr>
<tr><td>Telphone Number</td><td>{TEL_PHONE}</td></tr>
<tr><td>Mobile Number</td><td>{MOBILE_PHONE}</td></tr>
<tr><td>Address</td><td><div>{ADDRESS}</div></td></tr>
<tr><td>MSN</td><td><div>{MSN}</div></td></tr>
<tr><td>Yahoo Messenger</td><td><div>{YM}</div></td></tr>
<tr><td>Google Talk</td><td><div>{GOOGLETALK}</div></td></tr>
<tr><td>QQ</td><td><div>{QQ}</div></td></tr>
</tbody></table>
<div title="{NOTE}" style="overflow-y: hidden; height: 62px;">{NOTE}</div>
</div>
</div>

