    <contact id="{ID}">
      <name>{NAME}</name>
      <phone>{TEL_PHONE}</phone>
      <mobile>{MOBILE_PHONE}</mobile>
      <email>{EMAIL}</email>
      <address>{ADDRESS}</address>
      <note>{NOTE}</note>
      <msn>{MSN}</msn>
      <QQ>{QQ}</QQ>
      <yahooMessenger>{YM}</yahooMessenger>
      <GoogleTalk>{GOOGLETALK}</GoogleTalk>
      <AIM>{AIM}</AIM>
      <Skype>{SKYPE}</Skype>
      <Facebook>{FACEBOOK}</Facebook>
      <others>{OTHERS}</others>
    </contact>