<phonebook>
  <config>
    <id>EXPORT-{PHONEBOOK_FILE_NAME}</id>
    <name>EXPORT-{PHONEBOOK_FILE_NAME}</name>
    <description></description>
  </config>
<contacts>
{PHONEBOOK_CONTENT}
</contacts>
{PHONEBOOK_PROPERTIES}
</phonebook>