/* CSS file */
DataGrid
{
	verticalGridLines: false;
	horizontalGridLines: false;
	rollOverColor: #B3E1FF;
	selectionColor: #7FCFFF;
}

Application 
{
    /* make app window transparent */
	background-alpha: 0; 
	background-image:""; 
	/*font-family: "Myriad Web","微軟正黑體","宋体";*/
	font-size: 12;
	letter-spacing: 0.0;
	font-anti-alias-type:advanced;
	theme-color: #FFFFFF;
	disabled-overlay-alpha: 0;
	color: #404040;
	text-roll-over-color: #404040;
	text-selected-color: #404040;
}
*{
	font-family: "Myriad Web","微軟正黑體","宋体";
}

ToolTip
{
	background-color: #F7F7F7;
	border-color: #BBBBBB;
	color: #404040;	
}

ComboBox{
	dropdownStyleName: comboBoxDropdown;
	textAlign: left;
}

HScrollBar,
ScrollBar,
VScrollBar {
   highlight-alphas: 0, 0;
   track-colors: #E3E3E3, #E3E3E3;
   thumb-border-color: #A1A1A1;
   thumb-fill-color: #F2F2F2;
   thumb-over-fill-color: #E6E6E6;
   border-color: #BBBBBB;
   border-style: solid;
}


.titleText, .titleTextRed
{
	color: #3D3D3D;
	font-family: "微軟正黑體","Myriad Pro Black";
}

.titleTextRed
{
	color: #D12929;	
}

.footerText
{
	color: #434343;	
}


.bgBox
{
	padding-left: 10;
	padding-top: 10;
	padding-right: 10;
	padding-bottom: 10;
	corner-radius: 6;
	border-style: solid;
	border-color: #EFEFEF;
	background-color: #EFEFEF;
	background-alpha: 1;
}

.contentBox
{
	padding-left: 10;
	padding-top: 10;
	padding-right: 10;
	padding-bottom: 10;

}

.TitleControl-Button{
	
	leading: 0;
	cornerRadius: 0;
	horizontalGap: 0;

}


.appMinimizeButton
{
	up-skin: Embed("/images/styles/light/titlebar/minimize_up.png");
	over-skin: Embed("/images/styles/light/titlebar/minimize_over.png");
	down-skin: Embed("/images/styles/light/titlebar/minimize_pressed.png");	
}

.appCloseButton,
.closePanelButton
{
	up-skin: Embed("/images/styles/light/titlebar/close_up.png");
	over-skin: Embed("/images/styles/light/titlebar/close_over.png");
	down-skin: Embed("/images/styles/light/titlebar/close_pressed.png");	
}

TextInput,
{
	background-color: #DCDCDC;
	
	open-duration: 0;
	close-duration: 0;
	focus-alpha: 1;
	focus-thickness: 1;
	text-indent: 15;
	theme-color: #FFFFFF;
	border-style: solid;
	border-color: #BBBBBB;
	outer-border-color: #FDFDFD;
	border-alpha: 1;
	border-thickness: 2;
	background-color: #E3E3E3;
	background-alpha: 1;
	letter-spacing: 0.2;

}



.ContentPanel
{
   border-style: solid;
   border-color: #BBBBBB;
   outer-border-color: #FDFDFD;
   border-alpha: 1;
   border-thickness: 2;
   background-color: #EBEBEB;
   background-alpha: 1;
}


.contentPanelHeader
{
	border-style: solid;
	border-color: #BBBBBB;
	border-width: 1;
	border-sides: bottom;
}


@font-face 
{
	src:url("/images/fonts/MYRIAD.TTF");
	font-family: "Myriad Web";
	advanced-anti-aliasing: true;
}

@font-face 
{
	src:url("/images/fonts//MYRIADB_0.TTF");
	font-family: "Myriad Web";
	font-weight: bold;
	advanced-anti-aliasing: true;
}

@font-face 
{
	src:url("/images/fonts/otf_fonts.swf");
	font-family: "Myriad Pro Black";
}
.comboBoxDropdown
{
	paddingLeft: 0;
}

